PERSONAL_ACCESS_TOKEN = "personal access token"
ORG_SERVICE_URL       = "https://dev.azure.com/company_here"
client_id             = "client uuid"
tenant_id             = "tenant uuid"
subscription_id       = "subscription uuid"
subscription_name     = "subscription name"
client_secret         = "password"
